<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>상세 페이지(id:{{todo.id}})</h1>

    id:{{todo.id}}<br>
    item:{{todo.item}}<br>

    <hr>

    <a href="/todolist"><input type="button" value="목록으로"></a><br>
    <a href="/updatelist?id={{todo.id}}"><input type="button" value="수정"></a>
    <form method="post" action="/api/delete">
        <input type="hidden" name="id" value="{{todo.id}}">
        <input type="submit" value="삭제">
    </form>
    <!-- <a href="/deletelist">삭제</a> -->
</body>

</html>