<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>상세 페이지</h1>
    사번: {{emp.empno}}<br>
    사원명: {{emp.ename}}<br>
    직책: {{emp.job}}<br>
    상급자 사번: {{emp.mgr}}<br>
    입사 일자: {{emp.hierdate}}<br>
    급여: {{emp.sal}}<br>
    보너스: {{emp.comm}}<br>
    부서 번호: {{emp.deptno}}<br>
    <a href="/emplist"><input type="button" value="목록으로"></a><br>
    <a href="/empupdate?empno={{emp.empno}}"><input type="button" value="수정"></a>
    <form method="post" action="/api/delete">
        <input type="hidden" name="empno" value="{{emp.empno}}">
        <input type="submit" value="삭제">
    </form>
</body>
</html>