*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:Arial, sans-serif;
    background:#f5f7fa;
    color:#333;
}

header{
    background:#0056b3;
    color:white;
    text-align:center;
    padding:30px;
}

nav{
    margin-top:20px;
}

nav a{
    color:white;
    text-decoration:none;
    margin:15px;
    font-weight:bold;
}

.hero{
    text-align:center;
    padding:80px 20px;
    background:white;
}

.hero h2{
    font-size:40px;
}

.hero p{
    margin:20px;
    font-size:18px;
}

button{
    padding:12px 30px;
    background:#ff6600;
    color:white;
    border:none;
    border-radius:5px;
    cursor:pointer;
}

button:hover{
    background:#e65100;
}

section{
    padding:60px 20px;
}

.courses{
    display:flex;
    gap:30px;
    justify-content:center;
    flex-wrap:wrap;
}

.card{
    width:300px;
    background:white;
    padding:25px;
    border-radius:10px;
    box-shadow:0 5px 15px rgba(0,0,0,.1);
}

.card h3{
    color:#0056b3;
    margin-bottom:15px;
}

footer{
    background:#222;
    color:white;
    text-align:center;
    padding:20px;
}