#back1 {
    border: 1px solid red;
    height: 250px;

    background-image: url("https://i.namu.wiki/i/-X_inU6XSOtQxue2QFNEcjfxcOwVumMaINdh4plU02LnEsyduqJu9VhtyPzDRGZxSHudgf-vzXVu3R5O03ZQ9A.webp");

    background-repeat:
        /* repeat-x; repeat-y */
        no-repeat;

    /* background-size: 100px 200px; */
    /* background-size: 100% 50%; */
    /* background-size: 100% 100%; */
    /* contain, cover 많이 씀 */
    /* background-size: cover; */
    background-size: contain;
}

#back2 {
    border: 1px solid red;
    height: 80vh;
    background-image: url("https://i.namu.wiki/i/-X_inU6XSOtQxue2QFNEcjfxcOwVumMaINdh4plU02LnEsyduqJu9VhtyPzDRGZxSHudgf-vzXVu3R5O03ZQ9A.webp");
    background-size: contain;
    background-attachment: fixed;

    overflow: auto;
}

#back2 p {
    height: 200vh;
}

.profile {
    border: 1px solid black;
    height: 100px;
    width: 100px;

    background-image: url("https://i.namu.wiki/i/-X_inU6XSOtQxue2QFNEcjfxcOwVumMaINdh4plU02LnEsyduqJu9VhtyPzDRGZxSHudgf-vzXVu3R5O03ZQ9A.webp");
    /* background-size: contain; */
    background-repeat: no-repeat;
    background-position: center;

    border-radius: 50%;
}

#back3 {
    height: 100px;
    background: #abcdef url("https://i.namu.wiki/i/-X_inU6XSOtQxue2QFNEcjfxcOwVumMaINdh4plU02LnEsyduqJu9VhtyPzDRGZxSHudgf-vzXVu3R5O03ZQ9A.webp") no-repeat center;
    background-size: contain;
}