/* 웹폰트 */
@font-face {
    font-family: 'NexonMaplestory';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/MaplestoryOTFLight.woff') format('woff');
    font-weight: 300;
    font-display: swap;
}

.size {
    font-size: 32px;
}

.font {
    font-family: 'NexonMaplestory', Arial;
}

.style {
    font-style: italic;
}

/* 100 ~ 1000까지 100단위로 사용 가능 */
/* 기본값: 500 */
.fw-100 {
    font-weight: 100;
}

.fw-300 {
    font-weight: 300;
}

.fw-500 {
    font-weight: 500;
}

.fw-700 {
    font-weight: 700;
}

.fw-900 {
    font-weight: 900;
}

.fw-1000 {
    font-weight: 1000;
}

.fw-2000 {
    font-weight: 2000;
}

.fw-bold {
    font-weight: bold;
}

.lh {
    line-height: 300%;
}

.middle {
    border: 1px solid red;
    height: 100px;
    /* 상하정렬할 때 용이
    높이를 알고 있을 때 사용 가능. 높이를 모르면 못 쓴다. */
    line-height: 100px;

    width: 300px;
    text-align: center;
}

.spacing {
    /* 기본값 */
    letter-spacing: 0em;
    /* 한 글자만큼 간격을 줌. */
    /* letter-spacing: 1em; */
    /* letter-spacing: -0.1em; */
}

.justify {
    text-align: justify;
}

.right {
    text-align: right;
}

.lt {
    text-decoration: line-through;
}

.ul {
    text-decoration: underline;
}

.none {
    text-decoration: none;
}

.none:link {
    color: aqua;
}

.none:visited {
    color: aqua;
}

.nowrap {
    border: 1px solid red;
    width: 200px;
    /* 모든 걸 한줄로 표현할 때 사용 */
    /* 메이플스토리 홈페이지 이벤트 영역에도 이런 게 쓰인 게 아닐까? */
    /* 3개가 보통 묶음, 세트로 같이 쓰임. */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.text {
    border: 1px solid red;
    width: 200px;
}

.word-wrap {
    word-wrap: break-word;
}

.word-break {
    word-break: break-all;
}

.fake-h1 {
    font-size: 2em;
    font-weight: bolder;
}