body {
    border: 3px solid red;
    height: 300vh;
    width: 300vw;
}

/* 얘의 위치를 기준점, 좌표로 잡고 */
.parent {
    margin-bottom: 30px;
    border: 2px solid blue;
}

.parent div {
    display: inline-block;
    height: 50px;
    width: 50px;
    border: 1px solid violet;

    line-height: 50px;
    text-align: center;

    background-color: aqua;
}

.parent .relative {
    background-color: #f007;

    /* 
        원래 위치를 기준으로 이동
        내가 가지고 있던 공간이 유지된다.
        브라우저가 요소들을 그릴 때 원 위치를 먼저 잡기 때문에.
        why? 안 그러면 상대 위치를 부여하지 않은 요소들의 위치도 변동이 생길 것이므로.
    */

    position: relative;
    /* 아래에 작성한 것만큼 이동. */
    /* top: 20px; */
    top: -20px;
    /* left: 10px; */
    /* left: -20px; */
    left: 50%;
}

.relative {
    background-color: #f007;

    /* 
        원래 위치를 기준으로 이동
        내가 가지고 있던 공간이 유지된다.
        브라우저가 요소들을 그릴 때 원 위치를 먼저 잡기 때문에.
        why? 안 그러면 상대 위치를 부여하지 않은 요소들의 위치도 변동이 생길 것이므로.
    */

    position: relative;
    /* 아래에 작성한 것만큼 이동. */
    /* top: 20px; */
    top: -20px;
    /* left: 10px; */
    /* left: -20px; */
    left: 50%;
}

.parent .absolute {
    background-color: #f007;

    /* 
        내가 가지고 있던 공간이 없어진다.
        부모 중에 relative 등 static이 아닌 것 기준으로 이동.
        없으면 body 기준.
        absoulte마다 계층, 층, layer가 생긴다.
        자동으로 inline-block으로 바뀐다.
    */

    position: absolute;
    top: 0;
    left: 0;

    top: 30px;
    /* left: 300px; */
}

.parent .abs-b {
    position: absolute;

    bottom: 0;
    right: 0;
}

.rel {
    position: relative;
}

.fixed {
    position: fixed;
    right: 10px;
    bottom: 10px;

    border: 1px solid red;
    width: 60px;
    height: 60px;
    text-align: center;
    line-height: 60px;
}

.sticky {
    position: sticky;
    top: 0;
    top: 50px;
}

.parent2 {
    border: 1px solid red;
    width: 100px;
    background-color: green;
    color: #fff;
}

.parent2 div {
    border: 1px solid red;
    width: 50px;
    height: 50px;
}

.z1 {
    background-color: hotpink;
    top: 5px;
    left: 20px;

    /* z-index 기본값: 0 */
    z-index: 2;
}

.z2 {
    background-color: yellow;
    color: black;
    top: -10px;
    left: 10px;

    z-index: 3;
}

.z3 {
    background-color: orange;
    color: black;
    top: -70px;
    left: 40px;

    /* 실무에서 이거 제일 위에 있어야되니까 건들지 마세요 하는 의미로 설정하는 값. */
    z-index: 99;
}

.rel:hover {
    z-index: 999;
}

.menu {
    border: 1px solid red;
}

.submenu {
    border: 1px solid blue;
    display: none;
}

.menu:hover .submenu {
    display: block;
    position: relative;
    top: 10px;
}

.p1 {
    border: 1px solid red;
    width: 400px;
    height: 400px;

    position: relative;
}

.c1 {
    border: 1px solid blue;
    width: 100px;
    height: 100px;

    position: absolute;
    /* top: 50%;
    left: 50%; */

    /* calc: 계산해주는 기능. margin, padding, width, height 이런 것들에도 사용 가능 */
    top: calc( 400px/2 - 100px/2 );
    left: calc( 50% - (100px/2) );
}

:root {
    --box-color: yellow;
}

.p1 {
    background-color: var(--box-color);
}

.c1 {
    background-color: var(--box-color);
}