{% macro render_card2(title, text) %}
    <div class="card">
            <h2>[2]{{title}}</h2>
            <div>
                [2]{{text}}
            </div>
            <div>
                [2]{{like}}
            </div>
        </div>
{% endmacro %}

{% macro render_card3(title, text) %}
    <div class="card">
            <h2>{{title}}</h2>
            <div>
                {{text}}
            </div>
            <div>
                {{like}}
            </div>
        </div>
{% endmacro %}