{% extends 'layout.html' %}
{#
{% block youtube %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <video controls src="https://youtu.be/6RQ-bBdASvk"></video>
</body>

</html>
{% endblock %}
#}
{% block youtube %}
{{ super() }}
<div>
    성시경 킬링보이스
    좋아요 <span>{{like}}</span>
    <!-- iframe 태그
     width, height : 사이즈 조절을 위한 내용. 각각 너비, 높이 
     src : 동영상 링크 url 주소. 
     title : iframe의 내용을 설명하는 제목
     frameborder : iframe 테두리 설정
     | 항목                   | 의미                                | 사용자가 생각한 것과 비교                   
     | --------------------  | --------------------                | -------------------------------- 
     | `accelerometer`       | 기기의 가속도계 센서 사용 허용          | ❌ 배속/속도 조절이 아님                   
     | `autoplay`            | 자동 재생 허용                        | △ 다음 영상 자동재생보다는 **영상 자체의 자동 재생** 
     | `clipboard-write`     | 클립보드에 쓰기 허용                   | △ 영상 링크 복사 같은 기능에 활용될 수 있음       
     | `encrypted-media`     | DRM 등 암호화된 미디어 재생 허용        | 🔵 YouTube 같은 서비스에서 중요           
     | `gyroscope`           | 자이로스코프 센서 사용 허용             | 🔵 기기의 회전/방향 감지                  
     | `picture-in-picture`  | PiP 모드 사용 허용                    | ✅ 정확함                            

     allowfullscreen : 전체화면 사용 허용-->
    <iframe
        width="560"
        height="315"
        src="https://www.youtube.com/embed/6RQ-bBdASvk"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen>
    </iframe>
</div>
{% endblock %}

{% block title %}
    동영상 페이지
{% endblock %}

{% block star %}
<div>
    {#
    {% if star2 >= 0 %}
    없는 변수일 경우 선언되지 않았다. undefined 에러 발생.
    #}

    {% if star %}
        star를 전달 받았다 <br>

        {% if star >= 0 %}
            별점이 있습니다.<br>
        {% endif %}
    {% else %}
        star를 전달받지 못했다.<br>
    {% endif %}

    {# 단순히 존재 여부만 볼 때는 전달 받지 않은 변수도 사용 가능하다. 안 띄워주면 되니까. 
        다만, 안 보낸 거나 비어있는 값이나 false로 인식하기 때문에 불리하다. #}
    {% if star2 %}
        star2를 전달 받았다.<br>
    {% endif %}

    {% if star2 %}
        star2가 있다.
    {% else %}
        star2가 거짓이다.
    {% endif %}

    <hr>
    star2 : {{star2}} <br> {# 없어도 에러 안 남 #}
    star2 : {{star2 | default('기본값') }}<br>
    star2 : {{star2 | d('기본값') }}<br>
    <hr>

    {% if star > 3 %}
        별점이 높아요 : {{star}}
    {% elif star == 3 %}
        별점이 중간 : {{star}}
    {% elif star <= 2 and star >= 0 %}
        별점이 낮아요 : {{star}}
    {% else %}
        별점이 이상해요 : {{star}}
    {% endif %}
</div>
{% endblock %}

{% block bookmark %}
    bookmark 블럭 <br>
    {% for bm in bookmark %}
        <div>
            {{loop.index}}.{{bm}} {{loop.first}} {{loop.last}}
        </div>
    {% endfor %}
{% endblock %}

{% block filter %}
    {# 변수로 받았다 치고 진행 #}
    {{"하드코딩한 글씨" | length}}<br>
    {{"하드코딩한 글씨" | length > 10}}<br><!-- True/False -->
    {{"3.14" | int }}<br>
    {{"15000" | price }}원<br>

    {{'2026-08-23' | format_date}}<br>

    {{'<h1>그냥 html</h1>'}}<br>
    {{'<h1>Markup 거친 html</h1>' | n2br }}<br>
    {{'abc\n123\n한글'}}<br>
    {{'abc\n123\n한글' | n2br }}<br>
    {# {{"하드코딩한 글씨" | truncate(6, True, '...', 0)}}<br>
    <!-- 버림, 텍스트의 경우 지정한 자리수까지만 잘라서 표시 --> #}

{% endblock %}

{% block css %}
.card {
    width: 100px;
    border: 1px solid black;
    margin: 20px;
    padding: 10px;
    display: inline-block;
}
{% endblock %}

{# 외부에 매크로 모아두고 사용하기 #}
{% import 'macros.html' as macros %}

{% block macro %}
<!-- 
    <div class="card">
        <h2>제목</h2>
        <div>
            내용
        </div>
    </div> 
-->
    {{ render_card('제목1', '내용1') }}
    {{ render_card('제목2', '내용2') }}
    {{ macros.render_card2('제목3', '내용3') }}
{% endblock %}

{% macro render_card(title, text) %}
    <div class="card">
            <h2>{{title}}</h2>
            <div>
                {{text}}
            </div>
            <div>
                {{like}}
            </div>
        </div>
{% endmacro %}

<!-- block 영역 안에 있는 것만 -->
<div>이거 youtube.html 쌩으로 쓴 내용 - 안 나온다</div>